<!-- Load the wagtailimages_tags: -->
{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}{% endblock %}

<h1>Search</h1>

<form action="{% url 'search' %}" method="get">
    <input type="text" name="query" {% if search_query %} value="{{ search_query }}" {% endif %}>
    <input type="submit" value="Search" class="button">
</form>


{% block content %}
{% load static %}
<style>
    body {
        background-color: #eee;

    }

    .bdge {
        height: 21px;
        background-color: orange;
        color: #fff;
        font-size: 11px;
        padding: 8px;
        border-radius: 4px;
        line-height: 3px;
    }

    .comments {
        text-decoration: underline;
        text-underline-position: under;
        cursor: pointer;
    }

    .dot {
        height: 7px;
        width: 7px;
        margin-top: 3px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
    }

    .hit-voting:hover {
        color: blue;
    }

    .hit-voting {
        cursor: pointer;
    }
</style>
<!-- Page Header-->

<div class="container mt-5">

    <div class="row">

        <div class="col-sm-8">
            <h1 class="col-12">{{ page.title }}</h1>
            <p class="meta col-12">{{ page.date }}</p>
            <div class="col-12">
                {% for item in page.gallery_images.all %}
                <div style="float: left; margin: 10px">
                    {% image item.image fill-1200x700 %}
                    <p>{{ item.caption }}</p>
                </div>
                {% endfor %}
            </div>



            {% with authors=page.authors.all %}
            {% if authors %}
            <h3 class="col-12">Posted by:</h3>
            <ul class="col-12">
                {% for author in authors %}
                <li style="display: inline">
                    {% image author.author_image fill-40x60 style="vertical-align: middle" %}
                    {{ author.name }}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            <div class="intro col-12">{{ page.intro }}</div>
            <div class="col-12">{{ page.body|richtext }}</div>





            {% with tags=page.tags.all %}
            {% if tags %}
            <div class="tags col-12">
                <h3>Tags</h3>
                {% for tag in tags %}
                <a href="{% slugurl 'tags' %}?tag={{ tag }}"><button type="button">{{ tag }}</button></a>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
        </div>

        <div class="col-sm-4">
            <h2>About Me</h2>
            <h5>Photo of me:</h5>
            <div class="fakeimg">Fake Image</div>
            <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
            <h3 class="mt-4">Some Links</h3>
            <p>Lorem ipsum dolor sit ame.</p>
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Active</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
            <hr class="d-sm-none">
            <h2>About Me</h2>
            <h5>Photo of me:</h5>
            <div class="fakeimg">Fake Image</div>
            <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
            <h3 class="mt-4">Some Links</h3>
            <p>Lorem ipsum dolor sit ame.</p>
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Active</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
            <hr class="d-sm-none">
            <h2>About Me</h2>
            <h5>Photo of me:</h5>
            <div class="fakeimg">Fake Image</div>
            <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
            <h3 class="mt-4">Some Links</h3>
            <p>Lorem ipsum dolor sit ame.</p>
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Active</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
            <hr class="d-sm-none">


        </div>

        <p><a href="{{page.get_parent.url }}" class="col-12">Return to blog</a></p>
    </div>


    <!-- Block comment -->
    <div class="col-sm-8">

        {% for comment in page.comments.all %}
        <h4><strong>{{ comment.author}}</strong></h4>
        <h6>
            <p>{{comment.date}}</p>
        </h6>
        <p>{{comment.body|linebreaks}}</p>
        {% endfor %}
        {% if user %}
        <form action="/blog/comment/{{ page.id }}" method="POST">
            {% csrf_token %}
            <p><label for="">Bình luận</label></p>
            <input type="text" name="body">
            <br>
            <input type="submit" value="Bình luận">
        </form>
        {% endif %}
    </div>


</div>

{% endblock %}