{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}



{% block content %}
<style>
    .image{
        width: 1000px;
        padding: 0px;
        
    }
</style>
<section>

    {% for post in blogpages %}
    {% with post=post.specific %}


    <div class="container mt-4">

        <!-- <p>{{ post.body }}</p> -->

        <div class="row gx-8">
            <div class="col-md-7 mb-4">
                <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                    <!-- <img src="https://mdbcdn.b-cdn.net/img/new/slides/080.webp" class="img-fluid" /> -->
                    <a href="#!" class="image">
                        <div class="mask image" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        {% with post.main_image as main_image %}
                        {% if main_image %}{% image main_image fill-850x500 %}{% endif %}
                        {% endwith %}
                    </a>
                </div>
            </div>

            <div class="col-md-4 mb-4">

                <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>
                <p class="text-muted">
                <p>{{ post.intro }}</p>
                </p>
                <a href="{% pageurl post %}"><button type="button" class="btn btn-primary">Read more</button></a>
                
            </div>
        </div>
    </div>
    {% endwith %}
    {% endfor %}


</section>



{% endblock content %}